.feedback {
  border-top: 1px solid #e6e6e6;
  padding-top: 20px; }
  .feedback__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .feedback__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid #e6e6e6; }
    .feedback__name label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 58px;
      color: #333333; }
    .feedback__name input {
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-left: 10px;
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
      line-height: 25px;
      border: none;
      background: #e6e6e6; }
      .feedback__name input:hover {
        background: #cccccc; }
      .feedback__name input:focus {
        outline: 4px solid #cccccc;
        background: none; }
  .feedback__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    text-align: center; }
  .feedback__feeling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: none;
    border-bottom: 1px solid #e6e6e6; }
    .feedback__feeling label {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 56px;
      text-transform: none; }
    .feedback__feeling input {
      display: none; }
      .feedback__feeling input + .control {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 56px;
        margin-right: 10px;
        vertical-align: middle;
        border-radius: 50%;
        background: #f2f2f2;
        cursor: pointer; }
      .feedback__feeling input:hover + .control {
        background: #e6e6e6; }
      .feedback__feeling input:checked + .control::before {
        position: absolute;
        content: '';
        top: 32%;
        left: 32%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #333333; }
  .feedback__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 10px 20px 20px 20px;
    border: none;
    border-bottom: 1px solid #e6e6e6; }
    .feedback__contact label {
      display: block;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      color: #333333; }
    .feedback__contact input {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-bottom: 10px;
      padding: 15px;
      width: 100%;
      font-size: 18px;
      line-height: 25px;
      font-weight: bold;
      border: none; }
      .feedback__contact input:first-of-type {
        background: url("../img/phone.png") no-repeat right, #e6e6e6; }
        .feedback__contact input:first-of-type:hover {
          background: url("../img/phone.png") no-repeat right, #cccccc; }
        .feedback__contact input:first-of-type:focus {
          background: url("../img/phone.png") no-repeat right, transparent; }
      .feedback__contact input:last-of-type {
        background: url("../img/mail.png") no-repeat right, #e6e6e6; }
        .feedback__contact input:last-of-type:hover {
          background: url("../img/mail.png") no-repeat right, #cccccc; }
        .feedback__contact input:last-of-type:focus {
          background: url("../img/mail.png") no-repeat right, transparent; }
      .feedback__contact input:focus {
        outline: 4px solid #cccccc; }
  .feedback__visited {
    margin-top: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border: none;
    border-bottom: 1px solid #e6e6e6; }
    .feedback__visited--wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .feedback__visited input {
      display: none; }
      .feedback__visited input + .control {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 56px;
        margin-right: 20px;
        border-radius: 5px;
        vertical-align: middle;
        background: #e6e6e6;
        cursor: pointer; }
      .feedback__visited input:hover + .control {
        background: #cccccc; }
      .feedback__visited input:checked + .control {
        background: url("../img/icon-tick.svg") no-repeat center, #cccccc; }
    .feedback__visited label {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 56px;
      text-transform: none; }
  .feedback__emotions {
    margin: 20px 10px 0 10px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    border: none; }
    .feedback__emotions textarea {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      height: 150px;
      padding: 10px;
      font-size: 18px;
      line-height: 25px;
      font-weight: bold;
      border: none;
      background: #f2f2f2;
      cursor: pointer; }
      .feedback__emotions textarea:hover {
        background: #cccccc; }
      .feedback__emotions textarea:focus {
        outline: 4px solid #cccccc;
        background: transparent; }
  .feedback__btn {
    margin: 20px 20px 0 20px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    font-size: 21px;
    line-height: 58px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none; }
    .feedback__btn:hover {
      cursor: pointer;
      background-color: #669ec0; }
    .feedback__btn:active {
      color: rgba(255, 255, 255, 0.3); }
  .feedback__required {
    display: none; }

::-webkit-input-placeholder {
  color: #000000; }

::-moz-placeholder {
  color: #000000; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #000000; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #000000; }

@media (min-width: 768px) {
  .feedback__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .feedback__name {
    width: 45%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .feedback__feeling {
    width: 45%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
    text-align: center; }
  .feedback__contact {
    width: 100%; }
  .feedback__visited {
    width: 100%; }
    .feedback__visited--wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 70%;
      margin: 0 auto; }
    .feedback__visited label {
      width: 40%; }
  .feedback__emotions {
    width: 100%;
    padding: 0 20px; }
  .feedback__btn {
    width: 50%;
    margin-left: 32px;
    margin-top: 50px; }
  .feedback__required {
    display: block;
    margin-top: 70px;
    margin-right: 32px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    font-size: 14px;
    color: #333333;
    font-weight: 400; } }

@media (min-width: 1150px) {
  .feedback {
    width: 1200px;
    margin: 0 auto; }
    .feedback__visited {
      margin: 20px 16px; }
      .feedback__visited--wrapper {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        width: 100%; }
    .feedback__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .feedback__wrapper label {
        margin-right: 20px; }
      .feedback__wrapper input {
        width: 30%; }
        .feedback__wrapper input:first-of-type {
          margin-right: 200px; } }

.presentation {
  text-align: center; }
  .presentation__title {
    font-size: 18px;
    line-height: 25px; }
  .presentation__descr {
    width: 70%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #333333; }
  .presentation__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 320px;
    height: 200px;
    margin: 20px auto 30px auto;
    background: url("../img/video-mobile@1x.jpg") no-repeat; }
  .presentation__bar {
    position: relative;
    width: 100%;
    margin-top: 156px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6); }
  .presentation__scale {
    display: block;
    height: 4px;
    background: rgba(255, 255, 255, 0.3); }
  .presentation__btn {
    position: absolute;
    top: 17px;
    left: 80px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff; }
    .presentation__btn:hover {
      -webkit-transform: scale(1.3, 1.3);
              transform: scale(1.3, 1.3); }
  .presentation__replay {
    width: 16px;
    height: 20px;
    margin: 10px 170px 0 25px;
    border: none;
    cursor: pointer;
    background: url("../img/icon-video-replay.svg") no-repeat; }
    .presentation__replay:hover {
      background: url("../img/icon-video-replay-hover.svg") no-repeat; }
  .presentation__subtitles {
    width: 32px;
    height: 20px;
    margin-right: 40px;
    border: none;
    cursor: pointer;
    background: url("../img/icon-video-subtitles.svg") no-repeat; }
    .presentation__subtitles:hover {
      background: url("../img/icon-video-subtitles-hover.svg") no-repeat; }
  .presentation__fullscreen {
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background: url("../img/icon-video-fullscreen.svg") no-repeat; }
    .presentation__fullscreen:hover {
      -webkit-transform: scale(1.2, 1.2);
              transform: scale(1.2, 1.2);
      background: url("../img/icon-video-fullscreen-hover.svg") no-repeat; }

@media (min-width: 768px) {
  .presentation__title {
    font-size: 30px; }
  .presentation__wrapper {
    position: relative;
    width: 648px;
    height: 499px;
    background: url("../img/video-tablet@1x.jpg") no-repeat; }
  .presentation__bar {
    padding: 40px; }
  .presentation__scale {
    width: 75%;
    margin-left: 40px; }
  .presentation__btn {
    top: 37px;
    left: 160px; }
  .presentation__replay {
    position: absolute;
    bottom: 33px;
    background: url("../img/icon-video-replay-tablet.svg") no-repeat; }
  .presentation__subtitles {
    position: absolute;
    right: 50px;
    bottom: 33px;
    background: url("../img/icon-video-subtitles-tablet.svg") no-repeat; }
  .presentation__fullscreen {
    position: absolute;
    right: 40px;
    bottom: 33px;
    background: url("../img/icon-video-fullscreen-tablet.svg") no-repeat; } }

@media (min-width: 1150px) {
  .presentation__wrapper {
    width: 800px;
    height: 500px;
    background: url("../img/video-desktop@1x.jpg") no-repeat; } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ededed; }
  .gallery__wrapper {
    padding: 20px 0;
    border-bottom: 1px solid #ededed; }
  .gallery__title {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 25px; }
  .gallery__author {
    margin: 0 0 5px 0;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #333333; }
  .gallery__like {
    padding: 4px 0 0 30px;
    font-size: 14px;
    line-height: 14px;
    background: url("../img/icon-like.svg") no-repeat 0 top; }

@media (min-width: 768px) {
  .gallery {
    width: 768px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .gallery__info {
      position: relative; }
    .gallery__like {
      position: absolute;
      right: 30px;
      top: 20px;
      height: 50px; } }

@media (min-width: 1150px) {
  .gallery {
    width: 1200px;
    color: #ffffff; }
    .gallery__info {
      margin-top: -89px;
      padding: 10px 0;
      background: rgba(0, 0, 0, 0.5); }
    .gallery__wrapper {
      padding: 0; }
    .gallery__title {
      margin-left: 20px; }
    .gallery__author {
      margin-left: 20px;
      color: #ffffff; }
    .gallery__like {
      top: 35px;
      background: url("../img/icon-like-desktop.svg") no-repeat; } }

.page-footer {
  padding: 60px 0;
  text-align: center; }
  .page-footer__hashtag {
    font-size: 21px;
    font-weight: bold;
    line-height: 25px; }
  .page-footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0;
    height: 48px; }
  .page-footer__social {
    display: block;
    width: 48px;
    margin: 0 5px; }
    .page-footer__social:hover {
      opacity: .7; }
    .page-footer__social:active {
      opacity: .9; }
  .page-footer__authors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .page-footer__text {
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    line-height: 48px; }
  .page-footer__img {
    display: block;
    width: 27px;
    height: 34px;
    background: url("../img/logo-htmlacademy.svg") no-repeat; }
    .page-footer__img:hover {
      background: url("../img/logo-htmlacademy-hover.svg") no-repeat; }
    .page-footer__img:active {
      background: url("../img/logo-htmlacademy-active.svg") no-repeat; }

.social__tw {
  background: url("../img/icon-twitter.svg"), #81b3d2;
  background-repeat: no-repeat;
  background-position: center; }

.social__fb {
  background: url("../img/icon-facebook.svg"), #81b3d2;
  background-repeat: no-repeat;
  background-position: center; }

.social__yt {
  background: url("../img/icon-youtube.svg"), #81b3d2;
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 768px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px; }
    .page-footer__socials {
      margin: 0; } }

.hotel {
  text-align: center;
  padding: 40px; }
  .hotel__title {
    font-size: 21px;
    line-height: 25px; }
  .hotel__descr {
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #333333; }
  .hotel__btn {
    width: 100%;
    font-size: 21px;
    font-weight: bold;
    line-height: 58px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    background: #81b3d2;
    cursor: pointer; }
    .hotel__btn:hover {
      background: #669ec0; }
    .hotel__btn:active {
      opacity: .7; }
  .hotel__map {
    margin: 0 auto;
    height: 350px;
    background: url("../img/bg-map-mobile@1x.jpg") no-repeat; }

@media (min-width: 768px) {
  .hotel__title {
    font-size: 30px; }
  .hotel__map {
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat; }
  .hotel__btn {
    width: 40%; } }

@media (min-width: 1150px) {
  .hotel {
    width: 1200px;
    margin: 0 auto; }
    .hotel__map {
      background: url("../img/bg-map-desktop@1x.jpg") no-repeat; } }

.reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 20px 0;
  font-family: 'PT Sans', 'Arial', sans-serif; }
  .reasons--two {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #ededed;
    text-align: center; }
    .reasons--two .reasons__descr {
      margin: 20px auto 0 auto;
      width: 70%; }
  .reasons__number {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    color: #333333; }
    .reasons__number::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 1px;
      background-color: #333333;
      left: -8px;
      top: 45%; }
    .reasons__number::after {
      position: absolute;
      content: '';
      width: 5px;
      height: 1px;
      background-color: #333333;
      right: -8px;
      top: 45%; }
  .reasons__wrapper {
    margin: 0 0 40px 40px;
    padding-left: 60px; }
    .reasons__wrapper:first-child {
      background: url("../img/icon-house.svg") no-repeat; }
    .reasons__wrapper:nth-child(2) {
      background: url("../img/icon-burger.svg") no-repeat; }
    .reasons__wrapper:last-child {
      background: url("../img/icon-gift.svg") no-repeat 0 -5px; }
    .reasons__wrapper--two {
      margin: 0;
      padding: 0; }
      .reasons__wrapper--two:first-child, .reasons__wrapper--two:nth-child(2), .reasons__wrapper--two:last-child {
        background: none; }
  .reasons__title {
    margin: 0;
    font-size: 18px;
    line-height: 37px; }
  .reasons__descr {
    margin-top: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    color: #333333; }

@media (min-width: 768px) {
  .reasons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .reasons__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0;
      padding: 100px 0 0 0;
      text-align: center; }
      .reasons__wrapper--two {
        padding: 20px 0 0 0; }
      .reasons__wrapper:first-child {
        background-size: 80px;
        background-position: 50% -20px; }
      .reasons__wrapper:nth-child(2) {
        background-size: 80px;
        background-position: 50% -10px; }
      .reasons__wrapper:last-child {
        background-size: 70px;
        background-position: 50% -20px; }
    .reasons__title {
      font-size: 21px; }
    .reasons__descr {
      width: 70%; } }

@media (min-width: 1150px) {
  .reasons {
    width: 1200px;
    margin: 0 auto; } }

.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'PT Sans', 'Arial', sans-serif;
  background: url("../img/bg-triangle.svg"), #81b3d2;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 768px 70px;
  color: #ffffff; }
  .city--bridge {
    background-image: none; }
  .city__left-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .city__right-column {
    margin-top: 30px;
    padding-bottom: 10px;
    text-align: center; }
  .city__title {
    margin-top: 100px;
    font-size: 18px;
    line-height: 25px; }
    .city__title--bridge {
      margin-top: 40px; }
  .city__number {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px; }
    .city__number::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 1px;
      background: #ffffff;
      left: -8px;
      top: 42%; }
    .city__number::after {
      position: absolute;
      content: '';
      width: 5px;
      height: 1px;
      background: #ffffff;
      right: -7px;
      top: 42%; }
  .city__descr {
    width: 40%;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px; }

@media (min-width: 768px) {
  .city {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: none; }
    .city--bridge {
      margin-top: 0; }
    .city__left-column {
      width: 100%; }
      .city__left-column--bridge {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
    .city__right-column {
      margin: 0;
      margin-bottom: -3px;
      padding: 0;
      text-align: right; }
      .city__right-column--bridge {
        -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
                order: 0; }
    .city__title {
      margin-top: 70px;
      font-size: 21px; }
    .city__descr {
      width: 80%; } }

@media (min-width: 1150px) {
  .city {
    width: 1200px;
    height: 260px;
    margin: 40px auto 0 auto;
    overflow: hidden; }
    .city--bridge {
      margin-top: 0; } }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  text-align: center;
  font-family: 'PT Sans', 'Arial', sans-serif; }
  .intro__title {
    width: 70%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px; }
  .intro__descr {
    width: 70%;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #333333; }

@media (min-width: 768px) {
  .intro {
    padding-top: 50px; }
    .intro__title {
      font-size: 21px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header__intro {
  height: 360px;
  text-align: center;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100% ,50% top;
  background-size: cover,auto; }
  .page-header__intro--photo {
    height: 130px;
    padding-top: 50px;
    background-position: 50% 100%, 50% 50%; }
    .page-header__intro--photo img {
      width: 250px; }

@media (min-width: 768px) {
  .page-header__intro {
    padding-top: 80px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: auto, cover;
    height: 450px; }
    .page-header__intro--photo {
      height: 200px; }
      .page-header__intro--photo img {
        width: 450px; } }

@media (min-width: 1150px) {
  .page-header {
    width: 1200px;
    margin: 0 auto; }
    .page-header__intro {
      position: relative;
      z-index: -1; }
      .page-header__intro::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 1px;
        height: 57px;
        background: #ffffff; } }

.user-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto -20px auto; }
  .user-nav__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #81b3d2; }
  .user-nav__item {
    display: block;
    padding: 20px 0 20px 0;
    text-align: center;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none; }
    .user-nav__item:hover {
      background-color: #669ec0; }
    .user-nav__item:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3); }
  .user-nav--closed .user-nav__toggle {
    background: url("../img/icon-menu.svg") no-repeat;
    height: 22px;
    width: 22px; }
  .user-nav--opened .user-nav__toggle {
    width: 21px;
    height: 21px;
    background: url("../img/icon-cross.svg") no-repeat; }
  .user-nav__toggle {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    cursor: pointer; }

@media (max-width: 768px) {
  .user-nav--closed .user-nav__list {
    display: none; }
  .user-nav--opened .user-nav__list {
    display: block; }
  .user-nav--nojs .user-nav__toggle {
    display: none; }
  .user-nav--nojs .user-nav__list {
    display: block; } }

@media (min-width: 769px) {
  .user-nav {
    margin: 0; }
    .user-nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      background: transparent; }
    .user-nav__item {
      font-size: 14px;
      color: #000000;
      border: none; }
      .user-nav__item:hover {
        background: none;
        color: #81b3d2; }
      .user-nav__item:active {
        color: rgba(0, 0, 0, 0.3); }
    .user-nav__logo {
      position: absolute; }
    .user-nav__toggle {
      display: none; } }
