body {
  font-family: 'PT Sans', 'Arial', serif;
  text-transform: uppercase;
  background: #f2f2f2; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header__intro {
  padding-top: 30px;
  text-align: center;
  background: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%, 50% top;
  background-size: cover, auto;
  height: 360px; }

.user-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto -30px auto; }
  .user-nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    background: #81b3d2; }
  .user-nav__item {
    display: block;
    padding: 10px 0 10px 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8; }
    .user-nav__item:hover {
      background: #669ec0; }
  .user-nav__toogle {
    position: absolute;
    right: 8px;
    cursor: pointer; }
  .user-nav--closed .user-nav__toogle {
    top: 15px;
    width: 23px;
    height: 22px;
    background: url("../img/icon-menu.svg") no-repeat;
    border: none; }
  .user-nav--opened .user-nav__toogle {
    width: 23px;
    height: 22px;
    top: 8px;
    background: url("../img/icon-cross.svg") no-repeat;
    border: none; }

.site-intro {
  padding-top: 50px;
  text-align: center;
  background: #ffffff; }
  .site-intro__title {
    display: block;
    width: 60%;
    margin: 0 auto;
    font-size: 18px; }
  .site-intro__descr {
    margin-top: 30px;
    font-size: 14px; }

.reason {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  text-align: center;
  color: #ffffff;
  background: url("../img/bg-triangle.svg"), #81b3d2;
  background-repeat: no-repeat;
  background-size: 100% 10%; }
  .reason__title {
    font-size: 18px; }
  .reason__img {
    height: 260px; }
  .reason__number {
    position: relative;
    font-size: 14px; }
    .reason__number::before {
      content: '';
      position: absolute;
      left: -15px;
      top: 45%;
      width: 10px;
      height: 2px;
      background: #ffffff; }
    .reason__number::after {
      content: '';
      position: absolute;
      toP: 45%;
      right: -15px;
      width: 10px;
      height: 2px;
      background: #ffffff; }
  .reason__descr {
    display: block;
    margin: 20px auto 20px auto;
    width: 40%;
    font-size: 14px; }

.advantages {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background: #ffffff; }
  .advantages section {
    margin: 0 0 20px 30px;
    padding-left: 60px;
    background-position: center left; }
  .advantages__home {
    background: url("../img/icon-house.svg") no-repeat; }
  .advantages__souvenirs {
    background: url("../img/icon-gift.svg") no-repeat; }
  .advantages__food {
    background: url("../img/icon-burger.svg") no-repeat; }
  .advantages__title {
    font-size: 18px; }
  .advantages__descr {
    font-size: 14px;
    color: #333333; }

.reasons {
  text-align: center; }
  .reasons section {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ededed; }
  .reasons .reason__number::before,
  .reasons .reason__number::after {
    background: #000000; }
  .reasons .reason__descr {
    color: #333333; }

.hotels {
  padding-top: 20px;
  text-align: center;
  background: #ffffff; }
  .hotels__title {
    font-size: 21px; }
  .hotels__descr {
    padding: 20px;
    font-size: 14px;
    color: #333333; }
  .hotels__btn {
    width: 80%;
    padding: 20px 30px;
    background: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    border: none;
    text-transform: uppercase; }
    .hotels__btn:hover {
      cursor: pointer;
      background: #669ec0; }
  .hotels__map {
    margin: 0 auto;
    width: 320px;
    height: 350px;
    background: url("../img/bg-map-mobile@1x.jpg") no-repeat; }

@media (max-width: 768px) {
  .user-nav--closed .user-nav__list {
    display: none; }
  .user-nav--opened .user-nav__list {
    display: block; }
  .user-nav--nojs .user-nav__toogle {
    display: none; }
  .user-nav--nojs .user-nav__list {
    display: block; } }

@media (min-width: 768px) {
  .page-header__intro {
    background: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%, 50% top;
    background-size: auto, cover;
    height: 518px; }
    .page-header__intro img {
      padding-top: 70px; }
  .user-nav {
    margin-bottom: 0;
    width: 768px; }
    .user-nav__toogle {
      display: none; }
    .user-nav__list {
      display: flex;
      background: transparent; }
      .user-nav__list li:first-child {
        margin: 0 80px 0 50px; }
      .user-nav__list li:nth-child(3) {
        margin: 0 50px 0 200px; }
    .user-nav__item {
      font-size: 14px;
      color: #000000;
      border: none; }
      .user-nav__item:hover {
        color: #81b3d2;
        background: none; }
      .user-nav__item:active {
        color: rgba(0, 0, 0, 0.3); }
    .user-nav__logo {
      position: absolute; }
  .site-intro {
    padding-bottom: 40px; }
    .site-intro__title {
      font-size: 21px; }
  .reason {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    background-image: none; }
    .reason__wrapper {
      text-align: center;
      width: 40%; }
      .reason__wrapper--two {
        order: 2; }
    .reason__img {
      width: 512px;
      height: 256px; }
    .reason__title {
      margin-top: 60px;
      font-size: 21px; }
    .reason__descr {
      width: 80%; }
  .advantages {
    flex-direction: row;
    padding-bottom: 20px; }
    .advantages section {
      padding: 12% 0 0 0;
      background-position: top;
      background-size: 30%;
      text-align: center; }
  .reasons {
    display: flex;
    justify-content: space-between; }
  .hotels__title {
    font-size: 30px; }
  .hotels__btn {
    width: 400px; }
  .hotels__map {
    width: 768px;
    height: 350px;
    background: url("../img/bg-map-tablet@1x.jpg") no-repeat; } }

@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
    margin: 0 auto; }
    .page-header__intro {
      position: relative;
      z-index: -1; }
      .page-header__intro::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 1px;
        height: 57px;
        background: #ffffff; }
  .user-nav {
    background: #ffffff;
    width: 100%; }
    .user-nav__list li:first-child {
      margin: 0 160px 0 80px; }
    .user-nav__list li:nth-child(3) {
      margin: 0 140px 0 380px; }
  .site-intro {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 90px; }
  .reason {
    width: 1200px;
    margin: 0 auto; }
    .reason__img {
      width: 800px;
      height: 256px;
      overflow: hidden; }
    .reason__title {
      margin-top: 90px; }
  .advantages {
    width: 1200px;
    margin: 0 auto; }
    .advantages section {
      background-size: 25%;
      padding-top: 130px; }
  .reasons {
    width: 1200px;
    margin: 0 auto; }
  .hotels__map {
    width: 1200px;
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat; } }
