.user-nav {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto -20px auto;
	&__list {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		background: #81b3d2;
	}
	&__item {
		display: block;
		padding: 20px 0 20px 0;
		text-align: center;
		border-top: 1px solid #9ac2db;
		border-bottom: 1px solid #678fa8;
		font-size: 18px;
		color: #ffffff;
		text-decoration: none;
		&:hover {
			background-color: #669ec0;
		}
		&:active {
			background-color: #5496bd;
			color: rgba(255, 255, 255, .3);
		}
	}
	&--closed &__toggle {
		background: url('../img/icon-menu.svg') no-repeat;
		height: 22px;
		width: 22px;
	}
	&--opened &__toggle {
		width: 21px;
		height: 21px;
		background: url('../img/icon-cross.svg') no-repeat;
	}
	&__toggle {
		position: absolute;
		right: 20px;
		top: 20px;
		border: none;
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	.user-nav--closed .user-nav__list {
		display: none;
	}
	
	.user-nav--opened .user-nav__list {
		display: block;
	}

	.user-nav--nojs .user-nav__toggle {
		display: none;
	}

	.user-nav--nojs .user-nav__list {
		display: block;
	}
}

@media (min-width: 769px) {
	.user-nav {
		margin: 0;
		&__list {
			display: flex;
			justify-content: space-around;
			background: transparent;
		}
		&__item {
			font-size: 14px;
			color: #000000;
			border: none;
			&:hover {
				background: none;
				color: #81b3d2;
			}
			&:active {
				color: rgba(0,0,0, 0.3);
			}
		}
		&__logo {
			position: absolute;
		}
		&__toggle {
			display: none;
		}
	}
}

